@import "styles/variables";
@import "styles/mixins";

.header {
  margin-top: 1rem;
  font-size: 1.15rem;
  letter-spacing: -0.02rem;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  .logoLink {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .mainMenu {
    a {
      color: black;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      :global(.accent) {
        margin-left: 0.5rem;
        transition: all 0.3s;
      }

      &:hover {
        :global(.accent) {
          transform: translateX(0.25rem);
          width: 1.5rem;
          height: 0.2rem;
        }
      }

      &:active {
        :global(.accent) {
          transform: translateX(0);
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }

  .userMenu {
    display: flex;
    justify-content: flex-end;
  }

  .signInButton {
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    background-color: black;
    color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 0.25rem;

    @include media-breakpoint-down(md) {
      padding: 0.6rem 1rem;
    }

    .reactIcon {
      color: white;
      margin-left: 0.5rem;
    }

    &:hover {
      box-shadow: 0 0 1rem rgba(black, 0.2);
    }
  }
}
