@import "styles/variables";
@import "styles/mixins";

.header {
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 1.15rem;
  letter-spacing: -0.03rem;
  background: #fc3;

  @include media-breakpoint-down(lg) {
    font-size: 1.1rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 1rem;
    letter-spacing: -0.02rem;
  }

  .logoLink {
    display: block;
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.mainMenu {
  a.menuLink {
    color: $color-gray;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    letter-spacing: -0.02rem;

    .iconWrapper {
      display: inline-flex;
      width: 2.25rem;
      height: 2.25rem;
      align-items: center;
      justify-content: center;
      color: $color-gray;
      background-color: $color-lighter-gray;
      border-radius: 8rem;
      margin-right: 0.6rem;
      font-size: 0.9em;
    }

    &:hover {
      color: $color-dark-gray;

      .iconWrapper {
        color: $color-black;
        background-color: $color-yellow;
      }
    }

    &.isActive {
      color: $color-black;

      .iconWrapper {
        color: $color-black;
        background-color: $color-yellow;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 0.97em;

      .iconWrapper {
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 0.95rem;
      letter-spacing: -0.01rem;

      .iconWrapper {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.6rem;
      }
    }
  }

  &.mobile {
    max-width: 240px;
    margin: 0 auto;

    a.menuLink {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-border-gray;
      font-size: 1rem;
      color: $color-medium-gray;
      letter-spacing: -0.01rem;
      padding: 0.65rem 0;

      &:hover {
        color: $color-black;
        border-bottom-color: $color-black;
      }

      .iconWrapper {
        color: $color-purple;
        background: transparent;
        width: auto;
        height: auto;
      }
    }
  }
}

.userMenu {
  display: flex;
  justify-content: flex-end;

  .signInButton {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    line-height: 1.2;
    background-color: black;
    color: white;
    padding: 0.75rem 1.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;

    @include media-breakpoint-down(md) {
      font-size: 0.9rem;
      padding: 0.7rem 1rem;
    }

    .reactIcon {
      margin-left: 0.5rem;
    }

    &:hover {
      box-shadow: 0 0 1rem rgba(black, 0.2);
    }
  }
}

.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  background-color: white;
  z-index: 1050;

  .mainMenu a {
    display: block;
    text-align: center;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1.1rem;
  }

  .userMenu {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;

    .signInButton {
      color: black;
      background-color: transparent;
      display: flex;
      font-size: inherit;
      letter-spacing: -0.03rem;

      .reactIcon {
        color: $color-green;
      }

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.menuBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}
