@import "styles/variables";
@import "styles/mixins";

.assignmentItem {
  font-size: 1.5rem;
  line-height: 1.5;
  border-top: 1px solid $color-border-gray;
  padding: 1.25rem 0;

  .name {
    display: block;
    color: $color-gray;

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      margin-top: 0.5rem;
    }
  }

  .metaInfo {
    [class$="Label"] {
      margin-left: 0.75rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .status {
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }

  &.complete {
    .name,
    .status {
      color: #bdbdbd;
    }
  }
  &.available {
    .name {
      color: black;
    }
  }
  &.unavailable {
    .status {
      color: $color-gray;
    }
  }
}
