@use 'sass:color';
@import "styles/variables";
@import "styles/mixins";

.instructionTextWrapper {
  overflow-y: auto;
  font-size: 1.15rem;
  color: $color-dark-gray;

  pre {
    color: color.adjust($color-purple, $lightness: -12%);
    line-height: 1.6;
    background: color.scale($color-purple, $lightness: 90%);
    margin-top: 0.5rem;
    padding: 0.5rem 0.8rem;
  }

  .instructionTextInner {
    padding: 1rem 2rem 2rem 0;

    @include media-breakpoint-down(md) {
      padding-top: 1.5rem;
    }

    .textMarkdown {
      margin-top: 0.5rem;

      p,
      ul,
      ol {
        margin-top: 0.75rem;
      }

      @include media-breakpoint-down(lg) {
        font-size: 1.15rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 1.05rem;
        letter-spacing: -0.02rem;
      }
    }
  }
}
