@import "styles/variables";

.challengeEditPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .editorBox {
    display: flex;
    flex-direction: column;

    .boxHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      border-top: 1px solid $color-dark-gray;
      border-bottom: 1px solid $color-border-gray;
      padding: 0 10px;
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 500;

      :global([class$="Accent"]) {
        margin-left: 0.5rem;
      }

      .iconButton {
        line-height: 1;
        display: inline-block;
        cursor: pointer;
        padding: 0.25rem;
      }
    }

    .codeEditorWrapper {
      flex-grow: 1;
    }
  }

  .challengeAndTemplate {
    display: flex;
    flex-grow: 1;

    .challengeText {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }

      textarea.challengeTextarea {
        width: 100%;
        height: 100%;
        padding: 0.8rem 1rem;
        font-family: $font-monospace;
        font-feature-settings: "liga" 0, "calt" 0;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: -0.02rem;
        outline: none;
        border: none;
      }
    }

    .starter {
      width: 50%;
    }
  }

  .solutionAndCheck {
    display: flex;
    flex-grow: 1;

    .solution {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }
    }

    .testCases {
      width: 50%;
    }
  }
}
