@import "styles/variables";

.challengeEditPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .controlBar {
    padding: 0 10px;
    height: 40px;
    font-size: 1rem;
    line-height: 1.4;
    color: white;
    background-color: black;

    .controlRow {
      height: 100%;
    }

    a.backButton {
      display: inline-block;
      color: #888;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: -0.01rem;
      padding: 0.5rem 1rem 0.4rem 0;
      user-select: none;

      &:hover {
        color: #bbb;
      }
    }

    .challengeTitleWrapper {
      .challengeTitleInput {
        font-family: $font-sans-serif;
        letter-spacing: -0.01rem;
        font-size: 1rem;
        line-height: 1;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        padding: 3px 0;
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;

        &:hover {
          background-color: #222;
        }

        &:focus {
          background-color: transparent;
          color: $color-green;
        }
      }
    }

    .controls {
      display: flex;
      justify-content: flex-end;

      .button {
        display: inline-flex;
        align-items: center;
        color: white;
        padding: 0.3rem 0.5rem;
        margin-right: 0.3rem;
        font-size: 0.8rem;
        letter-spacing: -0.01rem;
        font-weight: 500;
        cursor: pointer;
        user-select: none;

        .reactIcon {
          font-size: 0.7rem;
          margin-right: 0.3rem;
          position: relative;
          top: 1px;
        }

        &:hover {
          color: $color-yellow;
        }

        &:last-child {
          margin-right: 0;
        }

        &.disabled {
          cursor: not-allowed;
          &:hover {
            color: white;
          }
        }

        &.clone {
          .reactIcon {
            font-size: 1rem;
          }
        }

        &.copyLink {
          .reactIcon {
            font-size: 0.85rem;
          }
        }

        &.delete {
          .reactIcon {
            font-size: 0.85rem;
            top: 0;
          }
        }
      }
    }
  }

  .editorBox {
    display: flex;
    flex-direction: column;

    .boxHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      border-top: 1px solid black;
      border-bottom: 1px solid $color-border-gray;
      padding: 0 10px;
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 500;

      :global([class$="Accent"]) {
        margin-left: 0.5rem;
      }

      .iconButton {
        line-height: 1;
        display: inline-block;
        cursor: pointer;
        padding: 0.25rem;
      }
    }

    .codeEditorWrapper {
      flex-grow: 1;
    }
  }

  .challengeAndTemplate {
    display: flex;
    flex-grow: 1;

    .challengeText {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }

      textarea.challengeTextarea {
        width: 100%;
        height: 100%;
        padding: 0.8rem 1rem;
        font-family: $font-monospace;
        font-feature-settings: "liga" 0, "calt" 0;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: -0.02rem;
        outline: none;
        border: none;
      }
    }

    .starter {
      width: 50%;
    }
  }

  .solutionAndCheck {
    display: flex;
    flex-grow: 1;

    .solution {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }
    }

    .testCases {
      width: 50%;
    }
  }
}
