@use "sass:color";
@import "styles/variables";
@import "styles/mixins";

.optionItem {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  transition: all 0.2s ease;

  .optionCheckbox {
    display: flex;
    font-size: 0.8rem;
    line-height: 1;
    align-items: center;
    justify-content: center;
    min-width: 1.2rem;
    min-height: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid $color-border-gray;
    margin-right: 1rem;
    transition: all 0.2s ease;

    @include media-breakpoint-down(xl) {
      margin-right: 0.75rem;
    }
  }

  .optionMarkdown {
    font-size: 0.95em;
    opacity: 0.9;
    color: $color-dark-gray;
    transition: all 0.2s ease;
    flex-grow: 1;

    :global(.hljs) {
      font-size: 0.95em;
      line-height: 1.6;
    }
  }

  &.showResult {
    &:hover {
      transform: none;
      cursor: default;
    }

    .optionMarkdown {
      opacity: 1;
    }

    &:not(&.isCorrectOption) {
      .optionMarkdown {
        opacity: 0.6;
      }
    }

    &.highlighted {
      padding: 0.75rem;
      padding-left: 0;
      margin-left: 0.5rem;
      transform: none;
      border: 2px solid transparent;

      .optionCheckbox {
        position: relative;
        left: -0.6rem;
        margin-right: 0.5rem;

        @include media-breakpoint-down(xl) {
          margin-right: 0.2rem;
        }
      }

      &.isCorrectOption {
        border-color: $color-green;

        .optionCheckbox {
          background-color: white;
          border-color: $color-green;
        }
      }

      &.isSelected {
        transform: none;
        padding: 0.75rem;
        padding-left: 0;

        &.isUserCorrect {
          border-color: $color-green;

          .optionCheckbox {
            background: $color-green;
            color: $color-white;
            border-color: $color-green;
          }
        }

        &.isUserIncorrect {
          border-color: color.adjust(
            $color-red,
            $lightness: 8%,
            $saturation: 40%
          );

          .optionCheckbox {
            background: $color-red;
            color: $color-white;
            border-color: $color-red;
          }
        }
      }

      &.isNotSelected {
        &.isCorrectOption {
          border-style: dashed;
        }
      }
    }
  }

  &:not(&.showResult):not(&.disabled) {
    cursor: pointer;

    &:hover {
      transform: translateX(2px);

      .optionCheckbox {
        background-color: #eee;
        border-color: $color-gray-50;
      }

      .optionMarkdown {
        color: $color-dark-gray;
      }
    }

    &.isSelected {
      transform: translateX(10px);

      .optionCheckbox {
        color: white;
        font-weight: 600;
        background-color: $color-dark-gray;
        border-color: $color-dark-gray;
      }

      .optionMarkdown {
        color: $color-black;
        opacity: 1;

        :global(.hljs) {
          border: 1px solid
            color.adjust($color-blue, $lightness: 16%, $saturation: -60%);
        }
      }
    }
  }
}
