@use "sass:color";
@import "styles/variables";
@import "styles/mixins";

.challengeWrapper {
  border-top: 1px solid $color-border-gray;

  .codeEditorWrapper {
    border-left: 1px solid $color-border-gray;
    border-right: 1px solid $color-border-gray;

    @include media-breakpoint-down(lg) {
      border: none;
      border: 1px solid $color-border-gray;
    }
  }

  @include media-breakpoint-up(lg) {
    .outputCol {
      // Force equal height to output columns
      flex: 1;
    }
  }

  .inner {
    padding: 1rem 2rem 2rem 0;

    @include media-breakpoint-down(md) {
      padding: 1.5rem 0 2rem 0;
    }
  }

  .resultsWrapper,
  .errorWrapper {
    border-top: 1px solid $color-border-gray;

    &.hasOutput {
      pre {
        color: $color-text-gray;
      }
    }

    pre {
      color: #ccc;
      font-family: $font-monospace;
      font-size: 0.95rem;
      line-height: 1.5;
      margin-top: 0.4rem;
      padding-bottom: 1rem;
      white-space: pre;
    }
  }

  .resultsWrapper {
    padding: 0.5rem 2rem 0 0;
    height: 100%;
  }

  .errorWrapper {
    border-left: 1px solid $color-border-gray;
    padding: 0.5rem 0 0 1rem;
    overflow: auto;
    height: 100%;
  }

  @include media-breakpoint-down(lg) {
    .resultsWrapper,
    .errorWrapper {
      padding: 1rem 0;
      border: none;
    }

    .errorWrapper {
      border-top: 1px solid $color-border-gray;
    }
  }

  .controlsWrapper {
    border-top: 1px solid $color-border-gray;
    border-bottom: 1px solid $color-border-gray;

    .leftControls,
    .rightControls {
      display: flex;
    }

    .leftControls {
      .button {
        margin-left: 2.5rem;

        &:first-child {
          margin-left: 0;
        }

        @include media-breakpoint-down(lg) {
          margin-left: 2rem;
        }
      }
    }

    .rightControls {
      justify-content: flex-end;

      .button {
        margin-right: 2.5rem;

        &:last-child {
          margin-right: 0;
          padding-right: 1.5rem;
        }

        @include media-breakpoint-down(xl) {
          margin-right: 2rem;
          padding-right: 1rem;

          &:last-child {
            margin-right: 0;
            padding-right: 0.75rem;
          }
        }
      }
    }
  }
}
