@import "styles/variables";
@import "styles/mixins";

.assignmentsPage {
  padding-bottom: 10rem;
  @include page-horizontal-padding();

  .codingQuizzes {
    margin-top: 6rem;
  }

  .problemSets {
    margin-top: 6rem;
  }

  .caseStudies {
    margin-top: 6rem;
  }
}
