@import "styles/variables";
@import "styles/mixins";

.mainPage {
  padding-bottom: 10rem;

  .discordEmbedSection {
    margin-top: 3rem;
  }
}

.displayBox {
  border-top: 1px solid $color-border-gray;
  padding-top: 1.5rem;
  padding-bottom: 3.25rem;

  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .text {
    display: block;
    font-size: 2.25rem;
    margin-top: 0.5rem;

    a {
      &:hover {
        color: #333;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 1.75rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
  }
}
