@import "../variables";

.displayBox {
  border-top: 1px solid $color-border-gray;
  padding-top: 1.5rem;
  padding-bottom: 3.25rem;

  .text {
    display: block;
    font-size: 2.25rem;
    margin-top: 1rem;
  }
}
