@import "styles/variables";

.stickyWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 340px;
  background-color: white;
}

.controlsWrapper {
  position: relative;

  .searchInput {
    border-radius: 0;
  }

  .installButton {
    color: $color-white;
    background-color: $color-gray-800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    cursor: pointer;
    position: relative;
    top: -1px;
    border-bottom: 1px solid transparent;

    &.disabled {
      cursor: default;
      color: $color-gray-60;
      background-color: white;
      border-bottom: 1px solid $color-border-gray;

      &:hover {
        color: $color-gray-60;
        background-color: white;
      }
    }

    .label {
      font-size: 1rem;
      display: flex;
      align-items: center;
    }

    .iconWrapper {
      display: flex;
      align-items: center;

      .reactIcon {
        padding: 0;
      }
    }

    &:hover {
      background-color: $color-gray-600;
    }
  }
}

.packageListWrapper {
  padding-bottom: 6rem;
  width: 340px;

  .packageItem {
    display: flex;
    padding: 0.25rem 0.75rem;
    align-items: center;
    border-bottom: 1px solid $color-border-gray;

    &:last-of-type {
      border-bottom: none;
    }

    .name {
      // font-family: $font-monospace;
      color: $color-gray-100;
      font-weight: 550;
      font-size: 0.95rem;
      flex-grow: 1;
    }

    .version,
    .installStatus {
      font-size: 0.75rem;
      line-height: 1.4;
      font-weight: 600;

      padding: 0.1rem 0.3rem;
      margin: 0 0.1rem;
      border-radius: 0.15rem;
    }

    .version {
      color: $color-gray-60;
      background-color: $color-gray-20;
    }

    &.installed {
      .installStatus {
        color: $color-white;
        background-color: $color-green;
      }
    }

    &.notInstalled {
      cursor: pointer;

      &.toInstall {
        background-color: $color-gray-20;

        .name {
          color: $color-gray-500;
        }

        .installStatus {
          color: $color-white;
          background-color: $color-purple;
        }
      }

      &:not(.toInstall) {
        .installStatus {
          color: $color-gray-300;
          border: 1px solid $color-gray-100;
          display: none;
        }

        &:hover {
          .installStatus {
            display: block;
          }
        }
      }

      &:hover {
        background-color: $color-gray-10;

        .name {
          color: $color-gray-700;
        }
      }
    }

    .actionsWrapper {
    }
  }
}

.emptyBox {
  padding: 3rem 0.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .reactIcon {
    color: $color-gray-30;
    font-size: 4rem;
  }

  .message {
    color: $color-gray-40;
    display: block;
    margin-top: 0.5rem;
  }
}
