@import "styles/variables";
@import "styles/mixins";

.page {
  padding-bottom: 10rem;

  h1.noteTitle {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
    padding: 4rem 0;
    letter-spacing: -0.05rem;

    @include media-breakpoint-down(lg) {
      font-size: 3.2rem;
      letter-spacing: -0.04rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2.8rem;
      letter-spacing: -0.03rem;
    }
  }

  .block {
    margin-top: 6rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .listBox {
    margin-top: 6rem;
    border-top: 1px solid black;
    padding-top: 1.5rem;

    &.objectives {
      margin-top: 1rem;
      border-top: none;
      padding-top: 0;
    }

    h3 {
      font-size: 1.3rem;
    }

    ul {
      @include media-breakpoint-down(sm) {
        margin-top: 2rem;
        font-size: 1.1rem;
      }

      li {
        padding: 0.5rem 0;
        border-bottom: 2px dotted $color-border-gray;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .coverImage {
    margin-top: 3rem;

    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }

  .textBox {
    margin-top: 6rem;

    :global(.label) {
      margin-top: 2rem;
    }

    a {
      color: $color-blue;
    }

    p {
      margin-top: 1.5rem;

      &:first-of-type {
        margin-top: 0.5rem;
      }
    }

    ul,
    ol {
      margin-top: 1.5rem;
    }
  }

  .boxItems {
    margin-top: 6rem;

    .item {
      border-top: 1px solid $color-border-gray;
      padding-top: 2rem;

      p {
        margin-top: 0.5rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 2rem 0;
      }
    }
  }
}
