@import "styles/variables";

.questionEditPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .controlBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
    height: 40px;

    .questionTitleWrapper {
      width: 48%;

      .questionTitleInput {
        background: aqua;
        font-family: $font-sans-serif;
        letter-spacing: -0.01rem;
        font-size: 1rem;
        line-height: 1;
        font-weight: 500;
        display: inline-block;
        padding: 3px 0;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;

        &:focus {
          color: $color-purple;
          border-bottom: 1px solid $color-purple;
        }
      }
    }

    .controls {
      width: 48%;
    }
  }

  .editorBox {
    display: flex;
    flex-direction: column;

    .boxHeader {
      display: flex;
      align-items: center;
      height: 35px;
      border-top: 1px solid black;
      border-bottom: 1px solid$color-border-gray;
      padding: 0 10px;
      font-size: 1rem;
      line-height: 1.4;
      font-weight: 500;

      :global([class$="Accent"]) {
        margin-left: 0.5rem;
      }
    }

    .codeEditorWrapper {
      flex-grow: 1;
    }
  }

  .questionAndTemplate {
    display: flex;
    flex-grow: 1;

    .questionText {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }

      textarea.questionTextarea {
        width: 100%;
        height: 100%;
        padding: 0.8rem 1rem;
        font-family: $font-monospace;
        font-feature-settings: "liga" 0, "calt" 0;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: -0.02rem;
        outline: none;
        border: none;

        &:focus {
        }
      }
    }

    .starter {
      width: 50%;
    }
  }

  .solutionAndCheck {
    display: flex;
    flex-grow: 1;

    .solution {
      width: 50%;

      .boxHeader {
        border-right: 1px solid $color-border-gray;
      }

      .codeEditorWrapper {
        border-right: 1px solid $color-border-gray;
      }
    }

    .testCases {
      width: 50%;
    }
  }
}
