@use "sass:color";
@import "styles/variables";
@import "styles/mixins";
@import "./syllabus-common.module.scss";

.gradingDetails {
  margin-top: 6rem;

  .gradingComponentDetails {
    .componentBox {
      padding: 2.5rem 0;
      border-top: 1px solid $color-border-gray;

      &.first {
        margin-top: 0;
      }

      .number {
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: $color-green;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.25rem;
      }

      h3 {
        display: block;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
        font-size: 1.45rem;
      }

      p.text {
        margin-top: 1.5rem;
        padding-top: 0;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .letterGradeRange {
    @include media-breakpoint-down(lg) {
      margin-top: 6rem;
    }

    .header {
      margin-bottom: 1rem;
      font-weight: 500;
    }

    .letterBox {
      .item {
        border-top: 1px solid $color-border-gray;
        padding: 1rem 0;
        font-size: 1.4rem;

        @include media-breakpoint-down(md) {
          font-size: 1.2rem;
        }

        .letter {
          color: $color-darker-blue;
        }

        &:first-child {
          border-top: 1px solid black;

          .letter {
            font-weight: 600;
          }
        }
      }

      &.A {
        .range {
          color: #666;
        }
      }

      &.B {
        .range {
          color: #888;
        }
      }

      &.C {
        .range {
          color: #aaa;
        }
      }
      &.D {
        .range {
          color: #ccc;
        }
      }
      &.F {
        .range {
          color: #ddd;
        }
      }
    }
  }
}
