@import "styles/variables";
@import "styles/mixins";

p.text {
  color: $color-medium-gray;
  font-size: 1.3rem;
  line-height: 1.9;
  font-weight: 300;

  margin-top: 1.5rem;

  &:first-of-type {
    margin-top: 0;
  }

  @include media-breakpoint-down(xl) {
    font-size: 1.25rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.2rem;
    line-height: 1.8;
  }

  @include media-breakpoint-down(md) {
    padding-top: 1.5rem;
  }
}
