@import "styles/variables";
@import "styles/mixins";

p.text {
  color: #999;
  font-size: 1.26rem;
  letter-spacing: -0.03rem;
  line-height: 1.8;
  font-weight: 450;
  margin-top: 1.5rem;

  &:first-of-type {
    margin-top: 0;
  }

  @include media-breakpoint-down(xl) {
    font-size: 1.22rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.18rem;
    line-height: 1.8;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
  }
}
