@import "styles/variables";
@import "styles/mixins";

.largeQuote {
  p {
    color: $color-dark-gray;
    font-size: 6rem;
    letter-spacing: -0.2rem;
    line-height: 1.1;
    font-weight: 800;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 4rem;

    p {
      font-size: 5rem;
      letter-spacing: -0.15rem;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 3rem;

    p {
      font-size: 4rem;
      letter-spacing: -0.12rem;
    }
  }
  @include media-breakpoint-only(xs) {
    margin-top: 3rem;

    p {
      font-size: 2.5rem;
      letter-spacing: -0.1rem;
    }
  }
}
