@import "styles/variables";
@import "styles/mixins";

.listBox {
  border-top: 1px solid black;
  padding-top: 1.5rem;

  &.objectives {
    margin-top: 1rem;
    border-top: none;
    padding-top: 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  ul {
    font-size: 1.2rem;

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
      font-size: 1.1rem;
    }

    list-style: none;

    li {
      padding: 0.75rem 0;
      border-bottom: 1px dotted $color-border-gray;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
