@import "styles/variables";
@import "styles/mixins";

.recordedChallenge {
  .exerciseHeader {
    font-size: 1.05rem;
    font-weight: normal;
    letter-spacing: -0.01rem;
    line-height: 1.4;
    border-top: 1px solid $color-dark-gray;
    padding-top: 0.75rem;
    padding-bottom: 2rem;
    align-items: center;
    position: relative;

    .exerciseType {
      color: $color-dark-gray;
      font-weight: 500;
      display: block;
    }

    .exerciseTitle {
      font-size: 1.05rem;
      font-weight: 500;
      color: $color-gray-50;
    }

    .topControls {
      position: absolute;
      top: 0.9rem;
      right: 0;

      .iconButton {
        color: $color-dark-gray;
        font-size: 1.15rem;
        padding: 0.4rem;

        &:hover {
          color: $color-gray-90;
        }

        &.attemptsButton {
          color: $color-gray-50;

          &.hasSubmission {
            color: black;

            &.onlyFail {
              color: $color-red;
            }

            &.hasPass {
              color: $color-green;
            }
          }
        }
      }
    }
  }
}
