.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  border-top: 1px solid black;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;

  &.blackBottomBorder {
    border-bottom: 1px solid black;
  }

  &.grayBottomBorder {
    border-bottom: 1px solid $color-border-gray;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
    padding-bottom: 2.4rem;
  }
}
