@import "styles/variables";
@import "styles/mixins";

.gradingBreakdownSection {
  font-size: 1.25rem;
  margin-top: 4rem;

  @include media-breakpoint-down(sm) {
    font-size: 1.1rem;
    letter-spacing: -0.02rem;
  }

  .headerRow,
  .itemRow,
  .footerRow {
    padding: 1rem 0;
    border-bottom: 1px solid $color-border-gray;

    @include media-breakpoint-down(sm) {
      padding: 0.75rem 0;
    }
  }

  .headerRow {
    font-weight: 500;
  }

  .itemRow,
  .footerRow {
    @include media-breakpoint-only(xs) {
      padding: 0.5rem 0;
    }

    .points {
      color: $color-blue;
    }

    .percentage {
      color: $color-purple;
    }

    .notes {
      color: #818181;
    }
  }

  .itemRow {
    .componentName {
      font-weight: 500;
    }
  }

  .footerRow {
    border-bottom: none;

    .componentName,
    .points,
    .percentage {
      font-weight: 600;
    }
  }

  .cell {
    display: flex;
    align-items: center;
  }
}
