@import "styles/variables";
@import "styles/mixins";

.gradeBreakdownSection {
  font-size: 1.25rem;
  margin-top: 4rem;

  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }

  .columnCell {
    display: block;
    border-bottom: 1px solid $color-border-gray;
    padding: 1.25rem 0;

    @include media-breakpoint-down(md) {
      padding: 1rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
      border: none;
    }

    &.columnHeader {
      font-weight: 500;
      border-color: black;
    }

    &.purple {
      color: $color-purple;
      border-color: $color-purple;
    }

    &.note {
      color: #aaa;

      @include media-breakpoint-down(xs) {
        margin-top: 0.5rem;
      }
    }
  }
}

.headerRow,
.itemRow {
  @include media-breakpoint-down(sm) {
    padding: 1.1rem 0;
  }
}

.itemRow {
  @include media-breakpoint-down(sm) {
    border-top: 1px solid $color-border-gray;
  }
}
