@use 'sass:color';
@import "styles/variables";
@import "styles/mixins";

.calendar {
  padding: 2rem 0;
  margin: 0 auto;
  font-size: 0.8rem;
  letter-spacing: -0.01rem;
  line-height: 1.6;
  width: 98%;
  max-width: 1300px;

  .togglePrevButton {
    display: flex;
    color: #444;
    background-color: #e3e3e3;
    border-radius: 0.4rem;
    font-size: 1rem;

    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 1rem;

    .reactIcon {
      margin-right: 0.5rem;
    }

    &:hover {
      color: #000;
      background-color: #ddd;
      box-shadow: 0 0 1rem rgba(black, 0.05);
    }
  }

  .calendarRow {
    display: flex;
    padding: 0.5rem 0;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .calendarCell {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include media-breakpoint-down(md) {
    font-size: 1rem;

    .calendarRow {
      flex-direction: column;
    }
  }

  .day {
    margin: 0.8rem 0;
    border-top: 1px solid #ccc;

    .todayIndicator {
      display: none;
    }

    .dayHeader {
      display: flex;
      justify-content: space-between;
      padding-top: 0.4rem;
      font-weight: 500;

      .date {
        color: #333;
      }

      .weekday {
        color: $color-green;
      }

      @include media-breakpoint-down(lg) {
        justify-content: flex-start;

        .weekday {
          margin-left: 0.5rem;
        }
      }
    }

    .dayContent {
      margin-top: 0.5rem;

      .box {
        padding: 0.2rem 0.4rem;
        border-radius: 0.3rem;
        margin-top: 0.3rem;

        @include media-breakpoint-only(md) {
          padding: 0.6rem 1rem;
        }
      }

      .quiz {
        color: white;
        background-color: $color-green;
        text-align: center;
        font-weight: 600;
      }

      .lecture {
        background-color: white;

        .lectureHeading {
          font-weight: 600;
        }

        .lectureTopic {
          color: #777;
        }
      }

      .afterClassAssignment {
        color: white;
        background-color: color.scale(
          $color-purple,
          $lightness: 30%,
          $saturation: 20%
        );
      }

      .noLecture {
        color: #000;
        background-color: #ccc;
      }

      .caseStudy {
        color: white;
        background: color.scale($color-green, $lightness: -20%);
      }
    }

    &.empty {
      .dayHeader,
      .dayContent {
        opacity: 0.5;
      }
    }

    &.today {
      border-top: none;

      .todayIndicator {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        padding: 0.4rem 0.4rem;
        font-size: 1rem;

        .todayIcon {
          margin-left: 0.2rem;
          font-size: 1.1rem;
        }
      }

      .dayHeader {
        font-weight: 700;
      }
    }
  }

  &.hidePrev {
    .isPrevWeek {
      display: none;
    }
  }
}
