@import "styles/variables";
@import "styles/mixins";

.sideFloatingBar {
  position: fixed;
  z-index: -1;
  color: $color-gray;
  top: 66rem;
  left: -0.8rem;
  transform: rotate(270deg);
  transform-origin: top left;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -0.02rem;

  .illinoisLogoWrapper {
    width: 3.5rem;
    transform: rotate(90deg);
  }

  .circleWrapper {
    width: 6rem;
    line-height: 0;
  }

  span.univName {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  span.courses {
    margin-left: 3rem;
    margin-right: 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.sideFloatingShapes {
  position: absolute;
  right: -6rem;
  top: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rectWrapper {
    transform: rotate(15deg);
  }

  .circleWrapper {
    position: relative;
    top: -3rem;
  }
}
