@import "styles/variables";
@import "styles/mixins";

.sideFloatingBar {
  position: fixed;
  width: 2000px;
  z-index: -1;
  color: $color-gray;
  top: 61rem;
  left: -0.5rem;
  transform: rotate(270deg);
  transform-origin: top left;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -0.02rem;

  .circleWrapper {
    width: 5rem;
    line-height: 0;
  }

  .illinoisLogoWrapper {
    width: 2.5rem;
    transform: rotate(90deg);
  }

  span.univName {
    margin-right: 1.5rem;
  }

  span.courses {
    margin-left: 2.5rem;
    margin-right: 1.5rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: 1.5rem;
    top: 55.75rem;
    left: -0.25rem;

    .circleWrapper {
      width: 4rem;
    }

    .illinoisLogoWrapper {
      width: 2rem;
    }

    span.univName {
      margin-right: 1.25rem;
    }

    span.courses {
      margin-left: 2rem;
      margin-right: 1.25rem;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
    top: 51rem;
    left: 0;

    .circleWrapper {
      width: 3rem;
    }

    .illinoisLogoWrapper {
      width: 1.5rem;
    }

    span.univName {
      margin-right: 1.25rem;
    }

    span.courses {
      margin-left: 2rem;
      margin-right: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.sideFloatingShapes {
  position: absolute;
  right: -6rem;
  top: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .rectWrapper {
    transform: rotate(15deg);
  }

  .circleWrapper {
    position: relative;
    top: -3rem;
  }
}
