@import "styles/variables";

.playgroundWrapper {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.topBar {
  border-bottom: 1px solid $color-gray-300;
  background-color: $color-gray-700;
}

.playgroundBody {
  display: flex;

  :global(.gutter) {
    background-color: $color-gray-10;
    background-repeat: no-repeat;
    background-position: 50%;

    &:hover {
      background-color: $color-white;
    }
  }

  :global(.gutter.gutter-horizontal) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
  }

  :global(.gutter.gutter-vertical) {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
    cursor: row-resize;
  }

  .codeEditorWrapper {
    width: 50%;
    position: relative;
    border-right: 1px solid $color-border-gray;
    border-right: 1px solid $color-gray-300;

    .floatingButtonWrapper {
      position: absolute;
      right: 2rem;
      bottom: 1rem;
    }
  }

  .resultWrapper {
    width: 50%;
    border-left: 1px solid $color-border-gray;
    background-color: $color-gray-10;
    display: flex;
    flex-direction: column;

    .outputBox {
      height: 50%;
      padding-bottom: 2%;
      display: flex;
      flex-direction: column;

      .boxHeader {
        padding: 1rem 1.25rem 0.5rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          color: $color-white;
          font-size: 1rem;
          color: $color-gray-800;
          font-weight: 500;
          line-height: 1.4;
          letter-spacing: -0.01rem;
          display: flex;
          align-items: center;

          .status {
            margin-left: 0.4rem;
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 1.4;
            display: inline-block;
            color: $color-white;
            background-color: $color-red;
            padding: 0.05rem 0.25rem;
            border-radius: 0.25rem;
          }
        }
      }

      .boxContent {
        flex-grow: 1;
        overflow: auto;
        padding: 0.25rem 1.25rem;
        display: flex;
        flex-direction: column;

        pre {
          color: $color-gray-100;
          font-family: $font-monospace;
          font-size: 1rem;
          line-height: 1.5;
          padding-bottom: 1rem;
          white-space: pre-line;

          &.errorMessage {
            color: $color-red;
            border-top: 1px solid $color-border-gray;
            padding-top: 0.75rem;

            &.noOutput {
              border-top: none;
              padding-top: 0;
            }
          }
        }

        .emptyBox {
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;

          .reactIcon {
            color: $color-gray-30;
            font-size: 2.5rem;
          }

          .message {
            color: $color-gray-40;
            font-weight: 400;
            display: block;
            margin-top: 0.25rem;
            font-size: 1rem;
          }
        }
      }
    }

    .standardOutputWrapper {
      border-bottom: 1px solid $color-border-gray;
    }

    .evaluatedOutputWrapper {
      border-top: 1px solid $color-border-gray;
    }
  }
}

.bottomBar {
  border-top: 1px solid $color-border-gray;
  border-top: 1px solid $color-gray-300;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .controlsWrapper {
  }

  .button {
    display: inline-flex;
    align-items: center;
    color: $color-gray-800;
    padding: 0.3rem 0.75rem;
    border-right: 1px solid $color-gray-300;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    font-weight: 500;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $color-gray-300;
    }

    &.disabled {
      cursor: not-allowed;
      &:hover {
        color: white;
      }
    }
  }

  .logoWrapper {
    margin-right: 0.75rem;
    font-weight: 600;

    a {
      color: $color-gray-900;

      &:hover {
        color: $color-gray-500;
      }
    }
  }
}
