@import "styles/variables";
@import "styles/mixins";

.authPage {
  padding-bottom: 10rem;

  .formTitle {
    margin-bottom: 4rem;
  }

  .netIdInput,
  .passwordInput,
  .emailFormat {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 300;
    padding: 1rem 0;

    @include media-breakpoint-down(md) {
      font-weight: normal;
      font-size: 1.5rem;
    }

    @include media-breakpoint-only(xs) {
      font-weight: normal;
      font-size: 1.25rem;
    }
  }

  .netIdInput {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-dark-gray;
    outline: none;
  }

  .emailFormat {
    color: $color-gray-40;
    border-bottom: 1px solid $color-border-gray;
    padding-left: 0.5rem;
  }

  .submitControls {
    margin-top: 4rem;

    :global(.button) {
      display: flex;
      justify-content: space-between;
    }

    p.note {
      @include media-breakpoint-down(md) {
        margin-top: 1rem;
      }

      @include media-breakpoint-only(xs) {
        font-size: 1.1rem;
        letter-spacing: -0.02rem;
      }
    }
  }
}
