@import "styles/variables";

.caseStudyItem {
  padding: 1rem 0 3.5rem 0;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(2px);
  }

  .metaInfo {
    margin-top: 2rem;

    :global(.chip) {
      margin-left: 0.75rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .name {
    font-size: 1.8rem;
    line-height: 1.6;
    display: block;
    color: $color-gray-40;
    margin-top: 0.75rem;
  }

  .status {
    font-size: 1.2rem;
  }

  &.complete {
    cursor: pointer;

    .name,
    .status {
      color: #bdbdbd;
    }
  }
  &.available {
    cursor: pointer;

    .name {
      color: $color-gray-90;
    }
  }
  &.unavailable {
    .status {
      color: $color-gray-40;
    }
  }

  &:hover {
    &.available {
      .name {
        color: $color-text-gray;
      }
    }
  }
}
