$font-sans-serif: "Inter", sans-serif;

$color-green: #00ff88;
$color-purple: #dc7fff;
$color-yellow: #ffff55;
$color-pink: #ff75af;
$color-blue: #43c1ff;
$color-orange: #ff5c26;

$color-border-gray: #e7e7e7;
