$font-sans-serif: 'Inter', sans-serif;

$color-border-gray: #E7E7E7;
$color-orange: #FF5C26;
$color-green: #00FF88;
$color-yellow: #FFFF55;
$color-blue: #43C1FF;
$color-pink: #FF75AF;
$color-purple: #DC7FFF;