$color-green: #90e782;
$color-purple: #dca9ee;
$color-yellow: #fefa90;
$color-pink: #fb96b4;
$color-red: #f16060;
$color-blue: #8adcff;
$color-darker-blue: #0eb7ff;
$color-navy: #13294b;
$color-orange: #ff8d5c;
$color-light-gray: #e0e0e0;
$color-lighter-gray: #f2f2f2;
$color-border-gray: #e7e7e7;
$color-gray: #bdbdbd;
$color-medium-gray: #828282;
$color-text-gray: #313131;
$color-dark-gray: #212529;
$color-white: #ffffff;
$color-black: #000000;

$font-sans-serif: "Inter", "Inter var";
$font-monospace: "Consolas", "Courier New", monospace;
