@use 'sass:color';
@import "./variables";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "./bootstrap.custom";
@import "~bootstrap/scss/bootstrap-grid";
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: $font-sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

body {
  font-size: 1.25rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1.pageTitle {
  font-size: 5rem;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.15rem;
  padding: 4rem 0;

  @include media-breakpoint-down(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: 2rem;
    letter-spacing: -0.07rem;
  }
}

h2.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  border-top: 1px solid black;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;

  &.blackBottomBorder {
    border-bottom: 1px solid black;
  }

  &.grayBottomBorder {
    border-bottom: 1px solid $color-border-gray;
  }
}

.green {
  color: $color-green;
}
.purple {
  color: $color-purple;
}
.yellow {
  color: $color-yellow;
}
.pink {
  color: $color-pink;
}
.blue {
  color: $color-blue;
}
.orange {
  color: $color-orange;
}

[class*="Accent"],
[class*="Label"],
[class*="Button"] {
  &[class*="green"] {
    background-color: $color-green;
  }

  &[class*="purple"] {
    background-color: $color-purple;
  }

  &[class*="yellow"] {
    background-color: $color-yellow;
  }

  &[class*="pink"] {
    background-color: $color-pink;
  }

  &[class*="blue"] {
    background-color: $color-blue;
  }

  &[class*="orange"] {
    background-color: $color-orange;
  }

  &[class*="gray"] {
    background-color: $color-gray;
  }

  &[class*="lightGray"] {
    background-color: $color-light-gray;
  }
}

[class*="Accent"] {
  margin-left: 0.625rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 1rem;
}

[class*="Label"] {
  font-size: 1rem;
  letter-spacing: -0.01rem;
  line-height: 1.2;
  padding: 0.25rem 0.7rem;
  border-radius: 4rem;
  white-space: nowrap;
}

[class*="Button"] {
  display: inline-flex;
  align-items: center;
  color: black;
  background-color: $color-light-gray;
  line-height: 1.5;
  padding: 1.25rem 1.75rem;
  border: none;
  border-radius: 0.25rem;

  &:hover {
    box-shadow: 0 0 0.75rem rgba(black, 0.07);
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}

input {
  font-family: $font-sans-serif;
}

::placeholder {
  color: $color-gray;
}
