@use 'sass:color';
@import "./variables";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "./bootstrap.custom";
@import "~bootstrap/scss/bootstrap-grid";
@import url("https://rsms.me/inter/inter.css");

html {
  font-family: $font-sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: $font-sans-serif;
  }
}

body {
  font-size: 1.25rem;
  line-height: 1.8;
  letter-spacing: -0.03rem;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

h1.pageTitle {
  font-size: 7rem;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -0.15rem;
  padding: 1rem 0 3rem 0;

  @include media-breakpoint-down(md) {
    font-size: 6rem;
    padding: 1.5rem 0 3rem 0;
  }

  @include media-breakpoint-down(sm) {
    font-size: 5rem;
    letter-spacing: -0.1rem;
    padding: 1rem 0 2rem 0;
  }

  @include media-breakpoint-only(xs) {
    font-size: 3rem;
    letter-spacing: -0.07rem;
  }
}

h1.pageTitleBorders {
  font-size: 2.7rem;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.1rem;
  padding: 1rem 0 4rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid $color-border-gray;

  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
    padding: 1rem 0 3rem 0;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
    letter-spacing: -0.4rem;
    padding: 1rem 0 2rem 0;
  }
}

h2.sectionTitle {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  border-top: 1px solid black;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;

  &.blackBottomBorder {
    border-bottom: 1px solid black;
  }

  &.grayBottomBorder {
    border-bottom: 1px solid $color-border-gray;
  }

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
    padding-bottom: 2.4rem;
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;

  li ul {
    list-style-type: circle;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.color-green {
  color: $color-green;
}
.color-purple {
  color: $color-purple;
}
.color-yellow {
  color: $color-yellow;
}
.color-pink {
  color: $color-pink;
}
.color-blue {
  color: $color-blue;
}
.color-orange {
  color: $color-orange;
}

.accent,
.label,
.button {
  background-color: $color-lighter-gray;

  &.green {
    background-color: $color-green;
  }

  &.purple {
    background-color: $color-purple;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.pink {
    background-color: $color-pink;
  }

  &.blue {
    background-color: $color-blue;
  }

  &.orange {
    background-color: $color-orange;
  }

  &.gray {
    background-color: $color-light-gray;
  }

  &.lightGray {
    background-color: $color-lighter-gray;
  }

  &.black {
    color: white;
    background-color: black;
  }
}

.accent {
  margin-left: 0.625rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  border-radius: 1rem;
}

.label {
  display: inline-block;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  line-height: 1.2;
  padding: 0.25rem 0.7rem;
  border-radius: 4rem;
  white-space: nowrap;
}

.button {
  display: inline-flex;
  align-items: center;
  color: black;
  background-color: $color-lighter-gray;
  line-height: 1.5;
  padding: 1.25rem 1.75rem;
  border: none;
  border-radius: 0.25rem;

  &:hover {
    box-shadow: 0 0 0.75rem rgba(black, 0.07);
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}

input {
  font-family: $font-sans-serif;
}

::placeholder {
  color: $color-light-gray;
}

:not(pre) > code,
kbd {
  font-family: $font-monospace;
  padding: 0.05em 0.2em;
  color: $color-blue;
  background-color: color.mix($color-blue, white, 6%);
  border: 1px solid color.mix($color-blue, white, 20%);
  border-radius: 0.25rem;
  font-size: 0.9em;
  white-space: nowrap;
}

pre {
  code {
    white-space: pre;
  }
}

kbd {
  color: black;
  background-color: color.scale(black, $lightness: 95%);
  border-color: color.scale(black, $lightness: 80%);
}

.tippy {
  font-weight: 400;
  letter-spacing: 0;

  .tippy-content {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}
