@import "styles/variables";

.hljs {
  display: block;
  overflow-x: auto;
  color: black;
  font-size: 1.25rem;
  font-family: $font-monospace;

  code {
    font-family: $font-monospace;
  }
}

.hljs-comment {
  color: #bdbdbd;
}

.hljs-quote,
.hljs-variable {
  color: $color-green;
}

.hljs-number {
  color: $color-purple;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: $color-blue;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: $color-pink;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: $color-gray;
}

.hljs-attr {
  color: $color-orange;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: $color-blue;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
